<h2>Список справ</h2>
<p>
    Ласкаво просимо до нашого сайту "Список справ"! Ми розуміємо, наскільки важливо мати організований та ефективний підхід до керування своїми завданнями, тому створили цей інструмент, щоб допомогти вам в цьому процесі.
</p>